.player_list {
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin-bottom: 0.5rem;
}

.player_list h2 {
    font-size: 16;
    font-weight: bold;
    color: black;
    /* margin-bottom: 10px; */
}

.player_list li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.player_list span {
    font-style: italic;
}
