body {
  background-color: #660105;
  color: #f6c538;
}

#app {
  display: flex;
  flex-direction: column;  
  height: 100vh;            
}

.top, .center, .bottom {
  flex: 1;                 
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  width: 100%;            
  max-width: 600px;         
  height: auto;             
  margin: 0 auto;           
}

.banner-img {
  width: 50vw;         
  min-width: 150px;    
  height: auto;        
}

@media (max-width: 600px) {
  .banner-img {
      width: 80vw;        
      max-width: 400px;   
  }
}
